<div class="modal">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Add Class</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <label class=" item-input">
            <span class="input-label">Name</span>
            <input id="name" type="text" ng-model="$parent.newTask.name" placeholder="Name of Class" required/>
        </label>
        <label class="item-input" ng-click="openDatePicker()">
            <span class="input-label">Select Date & Time</span>
            <input type="text" ng-model="$parent.newTask.time | date: 'EEEE, MMM d yyyy, h:mma'"
                   placeholder="Click to use Date Time Picker.">
        </label>
        <p class="item-input" style="color: darkgrey">NOTE: In order to save fully, Date Time Picker requires selection
            of day of month, then hour, then minutes, and finally click 'Save'.</p>
        <label class="item-input">
            <span class="input-label">Duration</span>
            <input id="duration" type="number" ng-model="$parent.newTask.duration" placeholder="Duration of Class (hours)"
                   step=".25"/>
        </label>
        <label class=" item-input">
            <span class="input-label">Cost</span>
            <input id="cost" type="text" ng-model="$parent.newTask.cost" placeholder="Cost of Class"/>
        </label>
        <label class=" item-input">
            <span class="input-label">Description</span>
            <textarea style="max-width:65%" id="description" ng-model="$parent.newTask.description"
                      placeholder="Enter Description for class here." rows="3"></textarea>
        </label>
        <label class=" item-input">
            <span class="input-label">Room</span>
            <input id="room" type="text" ng-model="$parent.newTask.room" placeholder="Room Number for Class"/>
        </label>
        <label class=" item-input">
            <span class="input-label">Address</span>
            <input id="location" type="text" ng-model="$parent.newTask.address" placeholder="Address of Class"/>
        </label>
        <label class=" item-input">
            <span class="input-label">Registration Info</span>
            <textarea style="max-width:65%" id="registration_info" ng-model="$parent.newTask.registration_info"
                      rows="3" placeholder="Enter Additional Registration information here."></textarea>
        </label>

        <div class="button-bar">
            <ion-checkbox ng-model="$parent.newTask.active" ng-true-value="1" ng-false-value="0" class="button"><i
                class=" medal-modal ion-eye"></i><br>Active
            </ion-checkbox>
            <ion-checkbox ng-model="$parent.newTask.forCHW" ng-true-value="0" ng-false-value="1" class="button"><i
                class=" medal-modal ion-university"></i><br>Instructor
            </ion-checkbox>
            <ion-checkbox ng-model="$parent.newTask.forCredit" ng-true-value="1" ng-false-value="0" class="button"><i
                class=" medal-modal ion-ribbon-b"></i><br> Credit
            </ion-checkbox>
        </div>

        <label class="item-input">
            <span class="input-label"> Cores </span>
        </label>
        <ul class="list">
            <li class="item clear item-checkbox" ng-repeat="($index, option) in badgeOptions">
                <label class="checkbox">
                    <input type='checkbox' checklist-model="$parent.newTask.cores" checklist-value="$index">
                </label>
                {{option}}
            </li>
        </ul>
        <button class="button button-full button-dark submit" ng-click="ok()">Save</button>
    </ion-content>
</div>
